<div [ngClass]="{'dark-page': selectedTheme === 'dark', 'light-page': selectedTheme === 'light'}">
  <h1>Top scores:</h1>
  
  <form [formGroup]="sortForm">
    <label for="sortOrder">Sort scores from: </label>
    <select id="sortOrder" formControlName="sortOrder">
      <option value="desc">highest</option>
      <option value="asc">lowest</option>
    </select>
  </form>

  <ul class="grid-container">
    <li *ngFor="let score of scores" class="grid-item">
      <div class="name">{{ score.name }}</div>
      <div class="score">{{ score.score }}</div>
    </li>
  </ul>
  <button class="btn-back-to-menu" (click)="changePage()">MENU</button>
</div>
