.game-page {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    width: fit-content;
    max-width: 800px;
    padding: 50px 70px;
    gap: 55px;
    border-radius: 10px;
    text-align: center;
    app-score-display {
        width: 50%;
    }
    .btn-back-to-menu{
        height: fit-content;
        align-self: end;
        color: #e4192a;
        font-size: 40px;
        border: none;
        background-color: #FFF;
    }
}