.game-page {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: auto;
    width:900px;
    padding: 50px 70px;
    gap: 55px;
    border-radius: 10px;
    text-align: center;
    app-score-display {
        width: 40%;
    }
    .btn-back-to-menu{
        height: fit-content;
        align-self: end;
        font-size: 17px;
        border: none;
        background-color: #FFF;
        font-family: "Press Start 2P";
        cursor: pointer;
    }
}