button {
    padding: 10px;
    width: 100px;
    margin: 2px;
    cursor: pointer;
    border: none;
    i {
        font-size: 25px;
        color: #3652AD;
    }
    .fa-play {
        color: #539165;
    }
    .fa-rotate-right{
        color: #000;
    }
    .fa-pause {
        color: #BF3131;
    }
}