h3{
    font-family: "Press Start 2P";
    text-align: center;
}

form {
    text-align: center;
    font-family: "Press Start 2P";
    font-size: 12px;
    select {
        width: 50%;
    }
    input {
        border: none;
        margin: 10px 0px 10px 5px;
        padding: 5px;
    }
}

ul {
    list-style: none;
    font-family: "Press Start 2P";
    font-size: 12px;
}