<h3>GAME HISTORY:</h3>
<form>
  <label for="actions">Show actions: </label>
  <select id="actions" name="actions" [(ngModel)]="selectedAction">
    <option value="all">all</option>
    <option value="button left">button left</option>
    <option value="button right">button right</option>
    <option value="rotate">rotate</option>
    <option value="down">down</option>
    <option value="drop">drop</option>
    <option value="pause">pause</option>
    <option value="start">start</option>
  </select>
</form>
<ul>
  <li *ngFor="let action of filteredGameHistory">{{ action }}</li>
</ul>